@import "tailwindcss";

@theme {
  --color-primary: #FF4500;
  --color-primary-hover: #FF6347;
  --color-dark-bg: #0a0a0a;
  --color-sidebar: #0f0f0f;
}

body {
  background-color: var(--color-dark-bg);
  color: white;
}